<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.pethome.system.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="org.yjhking.pethome.system.domain.Permission">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="descs" jdbcType="VARCHAR" property="descs"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        `name`,
        url,
        descs,
        sn
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_permission
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_permission
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="org.yjhking.pethome.system.domain.Permission" useGeneratedKeys="true">
        insert into t_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="descs != null">
                descs,
            </if>
            <if test="sn != null">
                sn,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="descs != null">
                #{descs,jdbcType=VARCHAR},
            </if>
            <if test="sn != null">
                #{sn,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.yjhking.pethome.system.domain.Permission">
        update t_permission
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="descs != null">
                descs = #{descs,jdbcType=VARCHAR},
            </if>
            <if test="sn != null">
                sn = #{sn,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectBySn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_permission
        where sn=#{sn,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_permission
    </select>
    <select id="queryCount" resultType="Long">
        select count(*)
        from t_permission
        <include refid="querySql"/>
    </select>
    <sql id="querySql">
        <where>
            <if test="keyword != null and keyword != ''">
                and name like concat('%', #{keyword}, '%')
            </if>
        </where>
    </sql>
    <select id="queryData" resultMap="PerMap">
        select
        <include refid="Base_Column_List"/>
        from t_permission
        <include refid="querySql"/>
        order by id
        limit #{begin}, #{pageSize}
    </select>
    <resultMap id="PerMap" type="org.yjhking.pethome.system.domain.Permission">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="descs" jdbcType="VARCHAR" property="descs"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
    </resultMap>
    <delete id="patchDelete">
        delete
        from t_permission
        where id in
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>