<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.pethome.product.mapper.ProductDetailMapper">
    <resultMap id="BaseResultMap" type="org.yjhking.pethome.product.domain.ProductDetail">
        <!--@Table t_product_detail-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="orderNotice" jdbcType="LONGVARCHAR" property="ordernotice"/>
        <result column="intro" jdbcType="LONGVARCHAR" property="intro"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        product_id,
        orderNotice,
        intro
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product_detail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_product_detail
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="org.yjhking.pethome.product.domain.ProductDetail" useGeneratedKeys="true">
        insert into t_product_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
            <if test="ordernotice != null">
                orderNotice,
            </if>
            <if test="intro != null">
                intro,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="ordernotice != null">
                #{ordernotice,jdbcType=LONGVARCHAR},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.yjhking.pethome.product.domain.ProductDetail">
        update t_product_detail
        <set>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="ordernotice != null">
                orderNotice = #{ordernotice,jdbcType=LONGVARCHAR},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from t_product_detail
    </select>
    <delete id="patchDelete">
        delete
        from t_product_detail
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>
    <delete id="deleteByProId">
        delete from t_product_detail where product_id = #{id}
    </delete>
    <delete id="patchDeleteByProIds">
        delete
        from t_product_detail
        where product_id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>
</mapper>