<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.pethome.user.mapper.LogininfoMapper">
    <resultMap id="BaseResultMap" type="org.yjhking.pethome.user.domain.Logininfo">
        <!--@Table t_logininfo-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="disable" jdbcType="BIT" property="disable"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        username,
        phone,
        email,
        salt,
        `password`,
        `type`,
        `disable`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_logininfo
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_logininfo
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="org.yjhking.pethome.user.domain.Logininfo" useGeneratedKeys="true">
        insert into t_logininfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="disable != null">
                `disable`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="disable != null">
                #{disable,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.yjhking.pethome.user.domain.Logininfo">
        update t_logininfo
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="disable != null">
                `disable` = #{disable,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_logininfo
    </select>

    <select id="selectByAccount" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_logininfo
        where (username = #{account,jdbcType=VARCHAR}
        or phone = #{account,jdbcType=VARCHAR}
        or email = #{account,jdbcType=VARCHAR})
        and type = #{loginType,jdbcType=INTEGER}
    </select>

    <select id="selectPermissionsByLogininfoId" resultType="java.lang.String">
        select tp.sn from t_employee te
        join t_employee_role ter on te.id = ter.employee_id
        join t_role tr on ter.role_id = tr.id
        join t_role_permission trp on tr.id = trp.role_id
        join t_permission tp on tp.id = trp.permission_id
        where te.logininfo_id = #{id}
    </select>
    <select id="selectMenusByLogininfoId" resultMap="MenuMap2">
        select tm2.*,tm.id tid,
        tm.name tname,tm.url turl,tm.intro tintro,tm.component tcomponent
        from t_employee te
        join t_employee_role ter on te.id = ter.employee_id
        join t_role tr on ter.role_id = tr.id
        join t_role_menu trm on tr.id = trm.role_id
        join t_menu tm on trm.menu_id = tm.id
        join t_menu tm2 on tm.parent_id = tm2.id
        where te.logininfo_id = #{id}
        order by tm2.`index`
    </select>
    <resultMap id="MenuMap2" type="org.yjhking.pethome.system.domain.Menu">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="component" property="component"/>
        <result column="url" property="url"/>
        <result column="icon" property="icon"/>
        <result column="index" property="index"/>
        <result column="parent_id" property="parentId"/>
        <result column="intro" property="intro"/>
        <result column="state" property="state"/>
        <collection property="children" ofType="org.yjhking.pethome.system.domain.Menu">
            <result column="tid" property="id"/>
            <result column="tname" property="name"/>
            <result column="tcomponent" property="component"/>
            <result column="turl" property="url"/>
            <result column="tintro" property="intro"/>
        </collection>
    </resultMap>
</mapper>