<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.pethome.pet.mapper.SearchMasterMsgMapper">
    <resultMap id="BaseResultMap" type="org.yjhking.pethome.pet.domain.SearchMasterMsg">
        <!--@Table t_search_master_msg-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="gender" jdbcType="BOOLEAN" property="gender"/>
        <result column="coat_color" jdbcType="VARCHAR" property="coatColor"/>
        <result column="resources" jdbcType="VARCHAR" property="resources"/>
        <result column="pet_type" jdbcType="BIGINT" property="petType"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <result column="note" jdbcType="LONGVARCHAR" property="note"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        title,
        `state`,
        `name`,
        age,
        gender,
        coat_color,
        resources,
        pet_type,
        price,
        address,
        user_id,
        shop_id,
        note
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_search_master_msg
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_search_master_msg
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="org.yjhking.pethome.pet.domain.SearchMasterMsg" useGeneratedKeys="true">
        insert into t_search_master_msg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="state != null">
                `state`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="coatColor != null">
                coat_color,
            </if>
            <if test="resources != null">
                resources,
            </if>
            <if test="petType != null">
                pet_type,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="note != null">
                note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=BOOLEAN},
            </if>
            <if test="coatColor != null">
                #{coatColor,jdbcType=VARCHAR},
            </if>
            <if test="resources != null">
                #{resources,jdbcType=VARCHAR},
            </if>
            <if test="petType != null">
                #{petType,jdbcType=BIGINT},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=BIGINT},
            </if>
            <if test="note != null">
                #{note,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.yjhking.pethome.pet.domain.SearchMasterMsg">
        update t_search_master_msg
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=BOOLEAN},
            </if>
            <if test="coatColor != null">
                coat_color = #{coatColor,jdbcType=VARCHAR},
            </if>
            <if test="resources != null">
                resources = #{resources,jdbcType=VARCHAR},
            </if>
            <if test="petType != null">
                pet_type = #{petType,jdbcType=BIGINT},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=BIGINT},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_search_master_msg
    </select>
    <select id="queryCount" resultType="Long">
        select count(*)
        from t_search_master_msg sm
        <include refid="querySql"/>
    </select>
    <select id="queryData" resultMap="ReturnMap">
        select sm.*,tpt.id tptid,tpt.name tptname, s.id sid,s.name sname,tu.id tuid,tu.username
        from t_search_master_msg sm
        left join t_pet_type tpt on sm.pet_type = tpt.id
        left join t_shop s on sm.shop_id = s.id
        left join t_user tu on sm.user_id = tu.id
        <include refid="querySql"/>
        limit #{begin},#{pageSize}
    </select>
    <resultMap id="ReturnMap" type="org.yjhking.pethome.pet.domain.SearchMasterMsg">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="state" property="state"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="coat_color" property="coatColor"/>
        <result column="resources" property="resources"/>
        <result column="pet_type" property="petType"/>
        <result column="price" property="price"/>
        <result column="address" property="address"/>
        <result column="user_id" property="userId"/>
        <result column="shop_id" property="shopId"/>
        <result column="note" property="note"/>
        <association property="type" javaType="org.yjhking.pethome.pet.domain.PetType">
            <id column="tptid" property="id"/>
            <result column="tptname" property="name"/>
        </association>
        <association property="shop" javaType="org.yjhking.pethome.org.domain.Shop">
            <id column="sid" property="id"/>
            <result column="sname" property="name"/>
        </association>
        <association property="user" javaType="org.yjhking.pethome.user.domain.User">
            <id column="tuid" property="id"/>
            <result column="username" property="username"/>
        </association>
    </resultMap>
    <sql id="querySql">
        <where>
            <if test="keyword != null and keyword != ''">
                and (sm.name like concat('%',#{keyword},'%'))
            </if>
            <if test="state != null">
                <!-- state==1 and shopId!=null表示店铺管理员查询审核通过并分配了店铺的待处理寻主消息 -->
                <if test="state == 1 and shopId != null">
                    and sm.shop_id =#{shopId}
                </if>
                <!-- state==1 and shopId==null表示平台管理员查询审核通过并分配了店铺的待处理寻主消息 -->
                <if test="state == 1 and shopId == null">
                    and sm.shop_id is not null
                </if>
                <!-- 根据状态查询：审核驳回待审核0，审核通过待处理1，处理完成2 -->
                and sm.state = #{state}
            </if>
            <!-- userId为null就是后台查询，不为bull就是前台用户查询自己的寻主消息 -->
            <if test="userId != null">
                and sm.user_id = #{userId}
            </if>
        </where>
    </sql>
    <update id="reject">
        update t_search_master_msg set shop_id = null where id = #{searchMasterMsgId}
    </update>
</mapper>