<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.pethome.order.mapper.OrderGoodsMapper">
  <resultMap id="BaseResultMap" type="org.yjhking.pethome.order.domain.OrderGoods">
    <!--@Table t_order_goods-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="digest" jdbcType="VARCHAR" property="digest" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="orderSn" jdbcType="VARCHAR" property="ordersn" />
    <result column="paySn" jdbcType="VARCHAR" property="paysn" />
    <result column="lastPayTime" jdbcType="TIMESTAMP" property="lastpaytime" />
    <result column="lastConfirmTime" jdbcType="TIMESTAMP" property="lastconfirmtime" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="address_id" jdbcType="BIGINT" property="addressId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, digest, `state`, price, orderSn, paySn, lastPayTime, lastConfirmTime, goods_id, 
    user_id, shop_id, address_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_order_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.yjhking.pethome.order.domain.OrderGoods" useGeneratedKeys="true">
    insert into t_order_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="digest != null">
        digest,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="ordersn != null">
        orderSn,
      </if>
      <if test="paysn != null">
        paySn,
      </if>
      <if test="lastpaytime != null">
        lastPayTime,
      </if>
      <if test="lastconfirmtime != null">
        lastConfirmTime,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="digest != null">
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="ordersn != null">
        #{ordersn,jdbcType=VARCHAR},
      </if>
      <if test="paysn != null">
        #{paysn,jdbcType=VARCHAR},
      </if>
      <if test="lastpaytime != null">
        #{lastpaytime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastconfirmtime != null">
        #{lastconfirmtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yjhking.pethome.order.domain.OrderGoods">
    update t_order_goods
    <set>
      <if test="digest != null">
        digest = #{digest,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="ordersn != null">
        orderSn = #{ordersn,jdbcType=VARCHAR},
      </if>
      <if test="paysn != null">
        paySn = #{paysn,jdbcType=VARCHAR},
      </if>
      <if test="lastpaytime != null">
        lastPayTime = #{lastpaytime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastconfirmtime != null">
        lastConfirmTime = #{lastconfirmtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>