<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.pethome.org.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="org.yjhking.pethome.org.domain.Employee">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="department_id" jdbcType="BIGINT" property="departmentId"/>
        <result column="logininfo_id" jdbcType="BIGINT" property="logininfoId"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        username,
        phone,
        email,
        salt,
        `password`,
        age,
        `state`,
        department_id,
        logininfo_id,
        shop_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_employee
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_employee
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.yjhking.pethome.org.domain.Employee"
            useGeneratedKeys="true">
        insert into t_employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="state != null">
                `state`,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="logininfoId != null">
                logininfo_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=BIGINT},
            </if>
            <if test="logininfoId != null">
                #{logininfoId,jdbcType=BIGINT},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.yjhking.pethome.org.domain.Employee">
        update t_employee
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=INTEGER},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId,jdbcType=BIGINT},
            </if>
            <if test="logininfoId != null">
                logininfo_id = #{logininfoId,jdbcType=BIGINT},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_employee
    </select>
    <select id="queryCount" resultType="java.lang.Long">
        select count(*)
        from t_employee e
        <include refid="querySql"/>
    </select>
    <select id="queryData" resultMap="EmployeeMap">
        select *
        from t_employee e
        left join t_department d on e.department_id = d.id
        <include refid="querySql"/>
        order by e.id
        limit #{begin},#{pageSize}
    </select>
    <resultMap id="EmployeeMap" type="Employee">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="department_id" jdbcType="BIGINT" property="departmentId"/>
        <result column="logininfo_id" jdbcType="BIGINT" property="logininfoId"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <association property="department" javaType="org.yjhking.pethome.org.domain.Department">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    <sql id="querySql">
        <where>
            <if test="keyword != null and keyword != ''">
                username like concat("%", #{keyword}, "%")
            </if>
        </where>
    </sql>
    <delete id="patchDelete">
        delete
        from t_employee
        where id in
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>