<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjhking.pethome.org.mapper.ShopAuditLogMapper">
  <resultMap id="BaseResultMap" type="org.yjhking.pethome.org.domain.ShopAuditLog">
    <!--@Table t_shop_audit_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="audit_id" jdbcType="BIGINT" property="auditId" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `state`, shop_id, audit_id, audit_time, note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_shop_audit_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_shop_audit_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.yjhking.pethome.org.domain.ShopAuditLog" useGeneratedKeys="true">
    insert into t_shop_audit_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="state != null">
        `state`,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="auditId != null">
        audit_id,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="auditId != null">
        #{auditId,jdbcType=BIGINT},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yjhking.pethome.org.domain.ShopAuditLog">
    update t_shop_audit_log
    <set>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="auditId != null">
        audit_id = #{auditId,jdbcType=BIGINT},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>